<template>
    <v-container fill-height>
        <v-layout
                text-center
                wrap
        >
            <v-flex xs12 layout>
                <v-card
                        class="my-auto mx-auto"
                        width="-webkit-fill-available"
                        max-width="400"
                >
                    <v-list-item two-line v-if="false">
                        <v-list-item-content>
                            <v-list-item-title class="headline">San Francisco</v-list-item-title>
                            <v-list-item-subtitle>Mon, 12:30 PM, Mostly sunny</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-card-text :dark="false">
                        <v-row align="center">
                            <v-col class="display-1" cols="9">
                                {{BTC_USD}}{{$c.currencies.USD.code}}
                            </v-col>
                            <v-col cols="3">
                                <v-img
                                        :src="require('../assets/BTC.svg')"
                                        alt="Sunny image"
                                        width="48"
                                ></v-img>
                            </v-col>
                        </v-row>
                    </v-card-text>

                    <v-list-item v-if="false">
                        <v-list-item-icon>
                            <v-icon>mdi-send</v-icon>
                        </v-list-item-icon>
                        <v-list-item-subtitle>23 km/h</v-list-item-subtitle>
                    </v-list-item>

                    <v-list-item v-if="false">
                        <v-list-item-icon>
                            <v-icon>mdi-cloud-download</v-icon>
                        </v-list-item-icon>
                        <v-list-item-subtitle>48%</v-list-item-subtitle>
                    </v-list-item>

                    <v-list class="transparent">
                        <v-list-item
                                v-for="item in stats"
                                :key="item.title"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>

                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-subtitle class="text-center" v-html="item.value"/>
                        </v-list-item>
                    </v-list>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-btn text>Full Report</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {mdiCoinOutline, mdiCoin, mdiCurrencyUsd, mdiCurrencyUsdOff} from '@mdi/js'

    export default {
        name: "Wallets",
        asyncComputed: {
            BTC_USD: {
                get() {
                    return this.$convertCurrencyValue(
                        this.$c.currencies.BTC.key,
                        this.$c.currencies.USD.key,
                        rate => {
                            this.$store.commit('app/RATE_UPDATE', {
                                name: `${this.$c.currencies.BTC.key}_${this.$c.currencies.USD.key}`,
                                rate
                            });
                        }
                    )
                },
                default: 0.00
            }
        },
        computed: {
            startsUSD() {
                return this.cupUSD.toFixed(2)
            },
            startsBTC() {
                return this.cupBTC.toFixed(4)
            },
            currentUSD() {
                return (this.BTC_USD * this.cupBTC).toFixed(2)
            },
            canBeBTC() {
                return (this.cupUSD / this.BTC_USD).toFixed(4)
            },
            stats() {
                return [
                    {
                        title: 'Total',
                        icon: mdiCoinOutline,
                        value: '<b>' + this.startsBTC + '</b>' + this.$c.currencies.BTC.code
                    },
                    {
                        title: 'Could Be',
                        icon: mdiCoin,
                        value: '<b>' + this.canBeBTC + '</b>' + this.$c.currencies.BTC.code
                    },
                    {
                        title: 'Spent',
                        icon: mdiCurrencyUsdOff,
                        value: '<b>' + this.startsUSD + '</b>' + this.$c.currencies.USD.code
                    },
                    {
                        title: 'Now',
                        icon: mdiCurrencyUsd,
                        value: '<b>' + this.currentUSD + '</b>' + this.$c.currencies.USD.code
                    },
                ]
            }
        },
        data() {
            return {
                SVGs: {
                    mdiCoinOutline,
                    mdiCurrencyUsd
                },
                cupUSD: 500,
                cupBTC: 0.0544959128065395,
                forecast: [
                    {day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0'},
                    {day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0'},
                    {day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0'},
                ],
            }
        },
    }
</script>

<style scoped>

</style>
