<template>
    <v-content>
        <v-skeleton-loader type="image" width="100%"/>
        <v-skeleton-loader type="image" width="100%"/>
        <v-skeleton-loader type="image" width="100%"/>
        <v-skeleton-loader type="image" width="100%"/>
        <v-skeleton-loader type="image" width="100%"/>
    </v-content>
</template>

<script>
    export default {
        name: "FullLoading"
    }
</script>
