<template>
    <v-app id="inspire">
        <side-bar/>

        <header-bar/>

        <v-scale-transition>
            <content-bar v-if="$g.storeInit"/>
        </v-scale-transition>
        <full-loading v-if="!$g.storeInit"/>
    </v-app>
</template>

<script>
    import ContentBar from "./layout/ContentBar";
    import HeaderBar from "./layout/HeaderBar";
    import SideBar from "./layout/SideBar";
    import FullLoading from "./components/FullLoading";

    export default {
        name: 'App',
        components: {
            FullLoading,
            SideBar,
            HeaderBar,
            ContentBar,
        },
        beforeCreate() {
            this.$store.commit('initialiseStore', () => setTimeout(() => this.$g.storeInit = true, 2500));
        },
    };
</script>
