<template>
    <v-content>
        <router-view/>
    </v-content>
</template>

<script>
    import {
        mdiCodepen,
        mdiCodeTags,
    } from '@mdi/js'

    export default {
        name: "ContentBar",
        data: () => ({
            SVGs: {
                mdiCodepen,
                mdiCodeTags,
            },
        }),
    }
</script>

<style scoped>
</style>
