<template>
    <v-app-bar
            app
            clipped-left
            color="red"
            dense
    >
        <v-app-bar-nav-icon @click.stop="$g.drawer = !$g.drawer" />
        <v-icon class="mx-4">{{SVGs.mdiCoinOutline}}</v-icon>
        <v-toolbar-title class="mr-12 align-center">
            <span class="title">CoinHelper</span>
        </v-toolbar-title>
    </v-app-bar>
</template>

<script>
    import {
        mdiCoinOutline
    } from '@mdi/js'

    export default {
        name: "HeaderBar",
        data: () => ({
            SVGs: {
                mdiCoinOutline,
            },
        }),
    }
</script>

<style scoped>

</style>
