<template>
    <v-navigation-drawer
            v-model="$g.drawer"
            app
            clipped
    >
        <v-list dense>
            <v-list-item
                    v-for="item in items"
                    :key="item.text"
                    :to="item.to"
            >
                <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        {{ item.text }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                    class="mt-4"
            >
                <v-list-item-action>
                    <v-icon color="grey darken-1">{{SVGs.mdiPlusCircleOutline}}</v-icon>
                </v-list-item-action>
                <v-list-item-title class="grey--text text--darken-1">Browse Channels</v-list-item-title>
            </v-list-item>
            <v-list-item link>
                <v-list-item-action>
                    <v-icon color="grey darken-1">{{SVGs.mdiSettings}}</v-icon>
                </v-list-item-action>
                <v-list-item-title class="grey--text text--darken-1">Manage Subscriptions</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import {
        mdiSettings,
        mdiPlusCircleOutline,
        mdiTrendingUp,
        mdiHistory,
        mdiWallet
    } from '@mdi/js'

    export default {
        name: "SideBar",
        data: () => ({
            SVGs: {
                mdiSettings,
                mdiPlusCircleOutline,
            },
            items: [
                { icon: mdiWallet, text: 'Wallets', to: '/wallets' },
                { icon: mdiTrendingUp, text: 'Most Popular', to: '/' },
                { icon: mdiHistory, text: 'History', to: '/' },
            ],
        }),
    }
</script>

<style scoped>

</style>
